@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: linear-gradient(to right, #0a0a0a, #3a4452); */
    background-color: #0a0a0a;
}
.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: none;
    /* box-shadow: 0px 3px 15px rgba(84,84,84,0.1); */
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: #282424;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
button.operator {
    background-color: #fb7c14;
}

#expandBtn {
    padding-right:4.5rem ;
    padding-left: 4.5rem;
    border-radius: 28px;

}

.footer {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color: #cf5b5b;
}